*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
/*________________menu_________________*/
div.header
{
    text-align: right;
    background-color: #efeeee;
}
div.header .logo
{
    background-image: url(/images/news_logo.png);
    width: 150px;
    height: 80px;
    background-size: cover;
    float: left;
    margin-left: 100px;
    margin-top: -15px;
}
div.header ol
{
    margin-right: 180px;
}
div.header ol li
{
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}
div.header ol li a
{
    display: block;
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;   
    padding: 15px;
}
div.header ol li a:hover{
    background-color: #48ff64;
    transition: background 1s;
}
div.header ol li a img
{
    width: 14px;
    margin-right: 10px;
}
/*-----------------------home------------------------------------*/
div.searches{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    margin-top: 30px;
}
div.searches .search_inp
{
    width: 65%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 55px;
    font-size: 20px;
    padding-left: 15px;
}
div.searches .btn
{
    padding: 8px 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border: none;
}
div.searches .btn:hover
{
    cursor: pointer;
}
div.info h3
{
    text-align: center;
}
div.info{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 30px;
}
div.listTypes a img 
{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
div.listTypes a:hover
{
    text-decoration: none;
    background-color: #d9edf7;
}
.carousel{
    position: relative;
}
div.listTypes a
{
    display: inline-block;
    width: 210px;
    padding: 10px;
    border: #ff983b;
    cursor: pointer;
    font-size: large;
    color: #337ab7;
    text-decoration: none;
}
div.listTypes, div.carousel, div.newsO, div.notes
{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
div.carousel h3, div.newsO h3{
    font-size: 25px;
}
.footer
{
    background: #ccc;
    padding-top: 15px;
    padding-left: 30px;
}
/*-------------carousel--------------*/
#scroller_container {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        line-height:0;
        font-size:0;
    }
    #scroller_container div {
        float: left;
        vertical-align: baseline;
    }
    #scroller_container>div {
        position: relative;
        white-space: nowrap;
        width: 100%;
        padding: 22px 0;
    }
    #scroller_container>div a,
    #scroller_container>div a img {
        padding: 0;
        margin:0;
    }
    #scroller_container>div a img {
        margin: 0 1px;
        border:0;
    }

/*---------------itemList-----------*/
.items
{
    display: inline-block;
    padding: 38px 25px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 3px;
    background: #f9f9f9;
    width: 160px;
    vertical-align: top;
}
.items a
{
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.dateNotice
{
    text-align: right;
    font-weight: bold;
}
.prc span
{
    font-size: 19px;
}
/*-------------notes--------------------*/
div.notes
{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
    margin-bottom: 30px;
}
div.notes h3
{
    font-size: 25px;
    margin-bottom: 30px;
}
div.notes .itemNote a
{
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
div.notes .itemNote a span
{
    font-size: 19px;
    color: #337ab7;
}
div.notes .itemNote
{
    text-align: left;
    overflow: hidden;
    margin: 20px;
}
div.notes .itemNote p
{
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
div.notes .itemNote img
{
    float: left;
    margin-right: 30px;
    width: 180px;
}
div.notes .itemNote:nth-child(2n+1)
{
    text-align: right;
}
div.notes .itemNote:nth-child(2n+1) img
{
    float: right;
    margin-left: 30px;
}
div.notes .itemNote:nth-child(2n+1) p
{
    text-align: left;
    font-weight: bold;
}
/*------------ presonalAccount--------------*/
.login
{
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}
.login input
{
    width: 90%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 55px;
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.show
{
    display: none;
}
div.users
{
    width: 70%;
    margin: 0 auto;
}
div.users ul li
{
    list-style: none;
    text-align: right;
}

div.users ul
{
    margin-top: -91px;
    margin-right: 70px;
}
div.users h3 img
{
    vertical-align: middle;
    margin-right: 50px;
}
div.users h3
{
    margin-top: 35px;
    font-size: 25px;
}
div.formArticles, div.adssType
{
    width: 70%;
    margin: 50px auto;
    text-align: right;
    font-size: 17px;
    color: #636363;
}
div.formArticles span
{
    font-size: 10px;
}
div.formArticles input, div.formArticles select, div.formArticles textarea
{
    margin: 20px 0;
}
div.formArticles input[type=submit]
{
    width: 260px;
    padding: 10px;
    background-color: #002eb1;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
div.formArticles input[type=submit]:hover
{
    cursor: pointer;
}
div.formArticles input[type=text]
{
    width: 425px;
    padding: 10px;
}
div.formArticles textarea
{
    width: 600px;
}
div.formArticles select
{
    width: 300px;
    padding: 10px;
}