<div class="formArticles">
    <form action="/Admin/AddArticle" method="post" enctype="multipart/form-data">
        <p><label>Назва статті: <input type="text" name="Names" required placeholder="..."></label></p>
        <label>Короткий опис оголошення(<span>декілька речень для відобр. в списку оголошень</span>): <br>
            <textarea name="small" id="small" cols="30" rows="10"></textarea>
        </label></p>
        <p><label>Повний опис оголошення: <br>
            <textarea name="big_desc" id="big_desc" cols="30" rows="10"></textarea>
        </label></p>
        <p><label>Зображення: <input type="file" name="icons" accept="image/jpeg">
        </label></p>
        <p><input type="submit" name="adding" value="Розмістити оголошення"></p>
    </form>
</div>