<div class="adssType">
    <form action="/Admin/AddType" method="post" enctype="multipart/form-data">
        <p>Назва категорії: <input type="text" name="NameType" required></p>
        <p>Зображення до котегорії: <input type="file" name="icons" accept="image/jpeg"></p>
        <input type="submit" name="adds" value="Додати">
    </form>
</div>