<nav class="menu2">
    
    <ol> Чорний список
        <li><a href="/Admin/BlackList">Додати до чорного списку user&#39;a</a></li>
        <li><a href="/Admin/DellUserBL">Видалити з чорного списку user&#39;a</a></li>
    </ol>
    <ol>Категорії
        <li><a href="/Admin/AddType">Додати категорії оголошень</a></li>
        <li><a href="/Admin/DellType">Видалити категорію оголошень</a></li>
    </ol>
    <ol>Статті
        <li><a href="/Admin/AddArticle">Додати статтю</a></li>
        <li><a href="/Admin/DellArticle">Видалити статтю</a></li>
    </ol>
    <ol>
        <li><a href="/Admin/DellNotice">Видалити Оголошення</a></li>
    </ol>
</nav>