<?php
foreach($this->values as $item){
    ?>
        <p>
            <a href="/Admin/ChangesTheme/<?php echo $item['id'];?>">
                <?php echo $item['names']; ?>
            </a>
        </p>
    <?php
}
?>