<?php
    $pdo = Connect::getConnect();
    $obj = $pdo->prepare("select * from Users where status = 1");
    $obj->execute();
    $list = $obj->fetchAll();
    foreach($list as $user)
    {
        if($user['ID']!=1){
        ?>
        <form action="/Admin/DellUserBL" method="post" class="UsrAdd">
            <p>
                <input class="show" name="id_user" value="<?php echo $user['ID']; ?>"/> 
                <?php echo $user['Names'];?>
                <input type="submit" name="dell" value="Видалити з списку"/>    
            </p>
        </form>
        <?php
    }}
?>