<div class="adssType">
    <?php
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Types");
        $obj->execute();
        $list = $obj->fetchAll();
        
        foreach($list as $item)
        {?>
           <form action="/Admin/DellType" method="post">
               <p>
                   <input type="text" class="show" name="id" value="<?php echo $item['Id']; ?>">
                   <input type="text" class="show" name="imgName" value="<?php echo $item['icon']; ?>">
                   <?php echo"  ".$item['Name']."  "; ?>
                   
                   <input type="submit" name="dells" value="Видалити">
               </p>
           </form>
        <?php }  
    ?>
</div>