<div class="newsO">
    <h3>Oголошення:</h3>
    <?php
        $url = explode('/', $_SERVER['REQUEST_URI']);
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Notices where kod_type = '{$url[3]}'");
        $obj->execute();
        $list = $obj->fetchAll();
        
        foreach($list as $item)
        { 
            ?>
          
           <div class="items">
               <a href="<?php echo"/Notice/ItemId/".$item['Id']; ?>">
                    <img src="<?php echo"/images/".$item['images']; ?>" width="150px" alt="*">
                    <p><?php echo $item['Name']; ?></p>
                </a>
                <p><?php echo $item['price'];?> грн</p>
            </div>
        <?php   }  
    ?>
</div>