<div class="newsO">
    <?php
        $url = explode('/', $_SERVER['REQUEST_URI']);
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Notices where Id = '{$url[3]}'");
        $obj->execute();
        $list = $obj->fetchAll();
        
        foreach($list as $item)
        { 
            ?>
             
                <img src="<?php echo"/images/".$item['images']; ?>" width="150px" alt="*">
                <h3><?php echo $item['Name']; ?></h3>
                <p class="prc">Ціна: <span><?php echo $item['price'];?> грн </span></p>
                <hr>
                <p><?php echo $item['description']; ?></p>
                <p class="dateNotice">Виставлено: <?php echo $item['date']; ?></p>
                <div class="contacts">
                   <h3>Контактні дані:</h3>
                    <p>ПІБ: <?php echo $item['name_user']; ?> Телефон: <?php echo $item['tel_user']; ?></p>
                </div>
                
        <?php   }  
    ?>
</div>