<div class="formArticles">
    <form action="/Notice/NewNotice" method="post" enctype="multipart/form-data">
        <p><label>Назва оголошення: <input type="text" name="Names" required placeholder="..."></label></p>
        <p><label>Ціна: <input type="text" name="price" required placeholder="..."></label></p>
        <p><label>Контактний телефон: <input type="text" name="tell" required placeholder="..."></label></p>
        <p><label>Ваше ім'я: <input type="text" name="PIB" required placeholder="..."></label></p>
        <label>Oпис оголошення: <br>
            <textarea name="small_desc" id="small" cols="30" rows="10"></textarea>
        </label></p>
        <p><label>Категорія: 
            <select name="listCategory" id="list">
                <?php
                    $pdo = Connect::getConnect();
                    $obj = $pdo->prepare("select * from Types");
                    $obj->execute();
                    $list = $obj->fetchAll();
                    
                    foreach($list as $item)
                    {
                        echo"<option value='".$item['Id']."'>".$item['Name']."</option>";
                    }
                ?>
            </select>
        </label></p>
         <p><label>Зображення: <input type="file" name="icons" accept="image/jpeg">
        </label></p>
        <p><input type="submit" name="adding" value="Розмістити оголошення"></p>
    </form>
</div>