<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
</head>
<body>
<h1>Error</h1>
<?php
    if(isset($this->e) && $this->e!=null){
        echo $this->e;
    }
?>
<a href="/Home">Back</a>
</body>
</html>