
  <div class="searches">
   <form action="" method="post">
        <input type="text" name="search_value" class="search_inp" placeholder="Що шукаємо?">
        <input type="submit" name="send" value="Пошук" class="btn">
    </form>
</div>
<div class="listTypes">
    <?php
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Types");
        $obj->execute();
        $list = $obj->fetchAll();
        
        foreach($list as $item)
        {
            echo"<a href='/Notice/CategoryId/".$item['Id']."'><img src='/images/".$item['icon']."' alt='1'>  ".$item['Name']."</a>";
        }  
    ?>
</div>

<div class="carousel">
  <h3>Рекомендовані оголошення:</h3>
   <div id="scroller_container" onmousemove="_scroller.stop();" onmouseout="_scroller.timer(_scroller.direct);">
        <div>
           
            <a href="#1" onclick="return!1"><img src="/images/img1.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img3.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img2.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img4.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img5.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img3.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img2.jpg" width="250" alt=""></a>
            <a href="#1" onclick="return!1"><img src="/images/img1.jpg" width="250" alt=""></a>

        </div>
    </div>
</div>

<div class="newsO">
    <h3>Свіжі оголошення:</h3>
    <?php
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Notices");
        $obj->execute();
        $list = $obj->fetchAll();
        
        $count =0;
        foreach($list as $item)
        { if($count<8){
            ?>
          
           <div class="items">
               <a href="<?php echo"/Notice/ItemId/".$item['Id']; ?>">
                    <img src="<?php echo"/images/".$item['images']; ?>" width="150px" alt="*">
                    <p><?php echo $item['Name']; ?></p>
                </a>
                <p><?php echo $item['price'];?> грн</p>
            </div>
        <?php $count++; } }  
    ?>
    
    <h4><a href="/Notice">всі оголошення</a></h4>
</div>

<div class="notes">
    <h3>Статті нашого сайту: </h3>
    <?php
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Articles");
        $obj->execute();
        $list = $obj->fetchAll();
        $counts = 0;
        foreach($list as $item)
        { if($counts<2){ ?>
           <div class="itemNote">
                <a href="<?php echo"/Article/ItemId/".$item['Id']; ?>">
                   <img src="<?php echo "/images/".$item['images']; ?>" alt="*">
                    <span>
                        <?php echo $item['Name']; ?>
                    </span><br>
                    <?php echo $item['small_desc']; ?>
                </a>
                <p><?php echo $item['date']; ?></p>
                <hr>
            </div>
      <?php $counts++; }  }
    ?>

</div>

<div class="info">
    <h3>Сайт безкоштовних оголошень:</h3>
    <p>
        Сьогодні дати оголошення стало ще простіше. Для цього навіть не треба виходити з дому, достатньо ввімкнути комп'ютер і набрати в любому пошуковику фразу безкоштовні оголошення, на що ви отримаєте у відповідь тисячі сторінок з сайтами безкоштовних оголошень. Але як обрати ту дошку оголошень, де про ваші товари чи послуги дізнається більше користувачів? Моя порада проста - розміщуйте свої інтернет оголошення на декількох сайтах, і чим більше тим краще, наприклад на Олх, Безплатка, або у нас на сайті Копійка. Зовсім не обов'язково на кожному сайті заповнювати форму вручну, можна зробити оголошення в любому текстовому редакторі і потім лише вставляти готовий текст. Бажано надавати перевагу тим сайтам де надаються більш ширші можливості для опису вашого товару чи послуги. Наприклад, де можна додати більше фотографій, а можливо і відео котре ви зняли і помістили на відеохостингу. Також, привабливість ваших оголошень збільшується при гарному текстовому оформленні і розлогому описі. Наприклад, на нашому сайті, ви можете додати необмежену кількість фото, додати відео з хостингу ЮТУБ, є зручний текстовий редактор з багатьма інструментами і можливістю редагування HTML тегів. Крім того, подані вами оголошення можна поновляти в топ хоч щодня у вашій особистій сторінці абсолютно безкоштовно. Всім, хто перебуває у пошуку дешевих але якісних товарів, я рекомендую звернути свою увагу на сайти безкоштовних оголошень, де ціни дешевші на порядок за такі ж самі товари, які продаються у вас в магазині. Бо в інтернеті конкуренція набагато більша, адже тут продають товари продавці з всієї України, крім того, в товарах, що продаються через дошки оголошень немає і не може бути націнки за оренду магазину чи рекламні послуги, що робить ціну на продукцію представлену тут набагато доступнішою для нашого вибагливого покупця. А розмістити оголошення тут ще простіше, а головне - повністю безкоштовно та на любий потрібний вам термін.
    </p>
</div>
<div class="footer">
    <script type="text/javascript">(function() {
      if (window.pluso)if (typeof window.pluso.start == "function") return;
      if (window.ifpluso==undefined) { window.ifpluso = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
        var h=d[g]('body')[0];
        h.appendChild(s);
      }})();</script>
    <div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal, theme=01" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>;
</div>
