<form action="/Account/Login" method="post" enctype="multipart/form-data" class="login">
    <table>
        <tr>
            <td><input type="text" name="login" id="login" required placeholder="Ввведіть Ваш Login"></td>
        </tr>
        <tr>
            <td><input type="password" name="pass" id="pass" required placeholder="Введіть Ваш пароль"></td>
        </tr>
        <tr>
            <td><input id="form" type="submit" name="logs" value="Увійти"></td>
        </tr>
        <tr>
            <td><a href="/Account/Registration">Зареєструватись</a></td>
        </tr>
    </table>
</form>