<div class="header">
    <a href="/Home"><div class="logo"></div></a>
    <ol>
        <li><a href="/Account"><img src="/images/administrator_5463.png" alt="*"> Мій профіль</a></li>
        <li><a href="/Notice/NewNotice"><img src="/images/edit_add_1400.png" alt="*">Додати оголошення</a></li>
        <li><a href="/Article"><img src="/images/mail-attachment_4333.png" alt="*">Каталог статтей</a></li>
    </ol>
</div>