<div class="users">
    <h3><img src="/images/user2.png" alt="*"> Привіт <?php echo $_SESSION['login'];?></h3>
    
    <ul>
        <li><a href="Account/ChangePassword"> Змінити пароль</a></li>
        <li><a href="Account/ChangeMail"> Змінити E-Mail</a></li>
        <li><a href="Account/LogOut">Вийти</a></li>
    </ul>
</div>
