<form action="" method="post" enctype="multipart/form-data">
    <table>
       <tr>
           <td>
               <p class="err"><?php if($this->values[0]==-1){ echo "неправильно введене число";
                                                            }?></p>
           </td>
       </tr>
        <tr>
            <td><input type="text" name="log" id="log" placeholder="Ввведіть бажаний Login"></td>
        </tr>
        <tr>
            <td><input type="password" name="pass" id="pass" placeholder="Введіть Ваш пароль"></td>
        </tr>
        <tr>
            <td><input type="text" name="mail" id="mail" placeholder="Введіть Ваш E-mail"></td>
        </tr>
        <tr>
            <td><p>Введіть найменше число з чисел зправа: <span><?php  if($this->values[0]!=-1){ echo $this->values[1];}?></span></p></td>
        </tr>
        <tr>
            <td><input type="text" name="capcha" id="cp" placeholder="Найменше число"></td>
        </tr>
        <tr>
            <td><input id="form" type="submit" name="registration" value="Зареєструватись"></td>
        </tr>
    </table>
</form>
