<div class="notes">
    <?php
        $url = explode('/', $_SERVER['REQUEST_URI']);
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Articles where Id = '{$url[3]}'");
        $obj->execute();
        $list = $obj->fetch();
         ?>
           <div class="itemNote">
               
                   <img src="<?php echo "/images/".$list['images']; ?>" alt="*">
                    <span>
                        <?php echo $list['Name']; ?>
                    </span><br>
                    <?php echo $list['big_desc']; ?>
               
                <p><?php echo $list['date']; ?></p>
                <hr>
            </div>
      
</div>