<div class="notes">
    <?php
        $pdo = Connect::getConnect();
        $obj = $pdo->prepare("select * from Articles");
        $obj->execute();
        $list = $obj->fetchAll();
        
        foreach($list as $item)
        { ?>
           <div class="itemNote">
                <a href="<?php echo"/Article/ItemId/".$item['Id']; ?>">
                   <img src="<?php echo "/images/".$item['images']; ?>" alt="*">
                    <span>
                        <?php echo $item['Name']; ?>
                    </span><br>
                    <?php echo $item['small_desc']; ?>
                </a>
                <p><?php echo $item['date']; ?></p>
                <hr>
            </div>
      <?php  }
    ?>

    
</div>